html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}
html {
    font-size: 62.5%;
}


body {
    background-image: url("https://img.freepik.com/foto-gratis/vista-superior-tazon-lentejas-variedad-condimentos_1220-423.jpg?w=360&t=st=1681128559~exp=1681129159~hmac=c8a14610027b24b716899131191a8e6935ba84f873f9bad27a25176e154fcaf6");
    background-repeat: no-repeat;
    background-size: cover;


    font-size: 62.5%;
    font-family: sans-serif;
}

header {
    
    color: #fff;
    height: 60px;
    max-height: max-content;
    
    
}

.main-menu {
    list-style: none;
    display: flex;
    position: absolute;
    
    flex-direction: column;
    align-items: center;
    
    
    transition: transform 0.3s;
    transform:translateY(0%)
    
    
    
    
    
}
.toggle-menu {
    position: absolute; 
    margin: 1rem;
    cursor: pointer;
    filter: invert(0);
    
}
.main-menu--show {
    transform:translateY(0%) ;
    z-index: 1;
}




.main-menu--link {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
}

.main-menu--item{
    padding: 1rem;    
}

main .main-paso1 {
    display: flex;
    position: relative;
    
    border: #fff 2px solid;
    background-image: url("https://img.freepik.com/foto-gratis/comida-ingredientes_1220-4884.jpg?w=740&t=st=1681094745~exp=1681095345~hmac=7e01bdc2ff5a45d7d3c6b6fce8b0356bbf6b61fb4b915b48d284793be59b5eb2");

    margin: 0px;

    width: 100%;
    height: 300px;
    max-width: 500px;
    min-width: 330px;
    box-shadow: 2px 2px 2px 1px rgba(233, 227, 227, 0.2);

}

.option-container {
    display: flex;
    position: absolute;
    align-items: center;
    

    top: 3rem;
    right: 1rem;
    
    height: 200px;
    width: 200px;
    border: #332e2e7a 2px solid;
    background-color: #0f0e0e49;

}

.city {
    margin: 0 auto;
    margin-bottom: 20px;
    
}



.option-container {
    font-size: 1.1rem;
    line-height: 20px;
    color: #fff;

}
.option-container input[type="submit"]{
    font-size: 0.8rem;
}






@media screen and (min-width: 600px) {
   
   
    .toggle-menu {
        display: none;
        
    }  
    .main-menu {
        
        flex-direction: row;
        transform: translate(0);
    }
    
    
}